<div class="match">

	<div class="category">1° División</div>
	
	<ion-grid class="content">
		
		<ion-row class="ion-justify-content-center">
			
			<ion-col size="5">
				<div class="ion-text-center">
					<img class="team" src="./assets/img/logo.png">
					<h6>Crucianos</h6>
				</div>
			</ion-col>

			<ion-col size="2">
				<p class="versus">v/s</p>
			</ion-col>
		
			<ion-col size="5">
				<div class="ion-text-center">
					<img class="team" src="./assets/img/logo.png">
					<h6>River Chile</h6>
				</div>
			</ion-col>
		
		</ion-row>

	</ion-grid>

	<div class="date">
		<p><span>15/08/2023</span><span>20:30</span></p>
	</div>

</div>
