<div class="match ion-margin-bottom">

	<ion-grid class="content ion-no-padding">
		
		<ion-row class="ion-justify-content-center ion-align-items-center ion-padding">
			
			<ion-col size="5">
				<div class="ion-text-center">
					<img class="team" src="./assets/img/logo.png">
					<h6>Crucianos</h6>
				</div>
			</ion-col>

			<ion-col size="2" class="text-center">
				<p class="versus">v/s</p>
			</ion-col>
		
			<ion-col size="5">
				<div class="ion-text-center">
					<img class="team" src="./assets/img/logo_naylor.png">
					<h6>River Chile</h6>
				</div>
			</ion-col>
		
		</ion-row>

		<ion-row class="foot ion-justify-content-center ion-align-items-center">
			
			<ion-col size="4">
				<div class="ion-text-center">
					<p>1° división</p>
				</div>
			</ion-col>

			<ion-col size="4">
				<div class="ion-text-center">
					<p>30/07/23</p>
				</div>
			</ion-col>

			<ion-col size="4">
				<div class="ion-text-center">
					<p>13:30</p>
				</div>
			</ion-col>
		
		</ion-row>

	</ion-grid>

</div>
